In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one","not a good one"
]

### Using tfidf vectoriser

Important Arguemnets

max_df : float in range [0.0, 1.0] or int, default=1.0

When building the vocabulary ignore terms that have a document frequency strictly higher than the given threshold (corpus-specific stop words). If float, the parameter represents a proportion of documents, integer absolute counts. This parameter is ignored if vocabulary is not None.

min_df : float in range [0.0, 1.0] or int, default=1

When building the vocabulary ignore terms that have a document frequency strictly lower than the given threshold. This value is also called cut-off in the literature. If float, the parameter represents a proportion of documents, integer absolute counts. This parameter is ignored if vocabulary is not None.

In [5]:
tfidf = TfidfVectorizer(min_df=2,max_df=0.5,ngram_range=(1,2))

In [6]:
features = tfidf.fit_transform(texts)

In [8]:
pd.DataFrame(features.todense(),columns=tfidf.get_feature_names())

   good movie  good one      like     movie       not  not good       one
0    0.707107  0.000000  0.000000  0.707107  0.000000  0.000000  0.000000
1    0.518979  0.000000  0.000000  0.518979  0.438158  0.518979  0.000000
2    0.000000  0.000000  0.764096  0.000000  0.645102  0.000000  0.000000
3    0.000000  0.000000  1.000000  0.000000  0.000000  0.000000  0.000000
4    0.000000  0.707107  0.000000  0.000000  0.000000  0.000000  0.707107
5    0.000000  0.518979  0.000000  0.000000  0.438158  0.518979  0.518979